
<div id="container">
    
 <nav> <h2><strong> Weather Search</strong></h2></nav> 

 <div class="d-flex align-items-center">
<input class="form-control"  type="text" (keyup)="onCountryKeyUp($event)" placeholder="Country"> <br/> &nbsp;
<input class="form-control" type="text" (keyup)="onCityKeyUp($event)" placeholder="City"> <br/>
</div>
<button  class="btn btn-outline-primary" (click)="getTemperature()"> Get Temperature</button>


<h1 class="temp"> <strong> {{httpdata.main.temp}} </strong></h1>



<p class="max"> 
    <span title="Max Temperature"> {{httpdata.main.temp_max}}</span>
    <span title="Min Temperature"> {{httpdata.main.temp_max}}</span>
    <span title="Humidity">   {{httpdata.main.humidity}}</span>

</p>

</div>

